.wraper {
    display: flex;
    border: none;
    width: 9rem;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 5px;
    /* margin-right: 10px; */
    height: 2.5rem;
    box-shadow: rgba(128, 128, 128, 0.385) 0px 0px 4px 1px;
}

.container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: max-content;
    margin-bottom: -15px;
    margin-top: -5px;
}