:host {
    --popular-blue: rgb(9, 28, 90);
    --popular-blue-light: rgb(0,  85, 150);
    --popular-blue-lighter: rgb(0, 169, 224);
    --popular-blue-very-light: rgb(164, 215, 244);
    --gray: rgb(181, 182, 186);
    --place-holder-gray: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.form-container {
    display: flex;
    justify-content: center;
}
.separator{
    padding: 20px 0;
}

.blue-text {
    color: var(--popular-blue) !important;
}
.light-blue-text {
    color: var(--popular-blue-light) !important;
}
.lighter-blue-text {
    color: var(--popular-blue-lighter) !important;
}
.very-light-blue-text {
    color: var(--popular-blue-very-light) !important;
}

.red-text {
    color: red;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.legal-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    /* margin: 0 3rem 1rem 3rem; */
}
.legal-content{
    color: var(--popular-blue);
    width: 33rem;
}

/* .legal-content p{
    word-wrap: break-word;
    white-space: normal;
} */
/* .legal-text{
    display: flex;
    flex-wrap: wrap;
} */
.selector {
    border: 1.5px solid;
    border-radius: 7px;
    border-color: var(--gray);
    padding: 10px;
    width: 15rem;
    text-align: center;
}

input[type="checkbox"] {
    border: 1.5px solid;
    border-radius: 7px;
    border-color: var(--gray);
    color: var(--popular-blue);
    /* padding: 20px; */
    width: 24px;
    height: 24px;
    margin: 0 1rem 0 3rem;
    background-color: white;
}

.checkbox-input-container{
    display: flex;
}

.wrapper {
    /* border: 3.5px solid var(--gray); */
    box-shadow: 0px 0px 20px 0.5px var(--gray);
    /* border-radius: 100px; */
    width: 45rem;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-width: 45rem;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: height 0.5s ease-in-out, max-height 0.5s ease-in-out;
}


.content {
    color: var(--popular-blue);
    /* width: 37rem; */
    height: 100%;
    width: 100%;
}

.custom-btn {
    text-decoration: none;
    background-color: var(--popular-blue);
    margin: 15px;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    color: white;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    animation: enablebutton 0.5s ease;
}

.custom-btn:hover {
    opacity: 0.5;
}


.custom-btn:active {
    animation: press 0.1s ease forwards;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.button-container-center {
    display: flex;
    justify-content: center;
}

.recaptcha-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.recaptcha-container iframe {
    border: none;
    width: auto;
    height: auto;
}

.disabled-button{
    text-decoration: none;
    margin: 15px;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    color: white;
    opacity: 0.1;
    /* transition: opacity 0.2s ease-in-out; */
    background-color: var(--popular-blue);
    animation: disablebutton 0.5s ease;
}

@keyframes disablebutton {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}
@keyframes enablebutton {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}