:host {
    --popular-blue: rgb(9, 28, 90);
    --gray: rgb(181, 182, 186);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.blue-text {
    /* font-weight: 500; */
    color: var(--popular-blue);
}

.hidden{
    display: none;
}

.wrapper {
    padding: 25px;
    border: 3.5px solid var(--gray);
    border-radius: 100px;
    /* margin: 20px; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45rem;
    width: 45rem;
    /* height: 15rem; */
    /* display: inline-block; */
    background-color: white;
    
    transition: height 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform: translateX(15rem); */
}

.selector {
    border: 1.5px solid;
    border-radius: 7px;
    border-color: var(--gray);
    padding: 10px;
    width: 20rem;
    text-align: center;

}
.liquidation-of-funds-required-documents-container{
    min-width: 45rem;
    max-width: 45rem;
    width: 45rem;
    animation: fade-down 0.5s ease;
}

@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* .selector::after{
            border: 1.5px solid;
            border-radius: 7px;
            color:red;
        } */
/* .form-container {} */
.sorry-text {
    /* width: 80%; */
}

.content {
    margin: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* 
    /* transform: translate(80px,0px); */
    /* position:absolute */
}

.custom-btn {
    text-decoration: none;
    background-color: var(--popular-blue);
    margin: 10px;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    color: white;
}

.custom-btn-deactivate {
    text-decoration: none;
    background-color: var(--gray);
    margin: 10px;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    color: white;

}

.btn-container {
    /* transform: translate(-2rem, -1rem); */
    /* 
            width: 20rem; */
    display: flex;
    justify-content: center;
    transform: translateX(-90px);
}